*{
    margin: 0;
    padding: 0;

}
header{
    background-color: rgb(100, 73, 45);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    height: 100vh;
    background-color: rgb(143, 133, 101);
}
.caixa{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items:center;
}
.imagem{
    display: flex;
    flex-direction: column;
    justify-content: left;

}
