*{
    margin: 0;
    padding: 0;

}
header{
    background-color: blueviolet;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    height: 100vh;
    background-color: aquamarine;
}
.caixa{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}
